{%extends  'main/abase.html' %}
{% block content %}
<p>Many greetings {{ request.user.username }} , with  userid {{ request.user.id }}</p>
Please take your time with this, we appreciate accuracy and honesty
<form method='post' action='/apc/form/'>
    {% csrf_token %}
    {% if names_form %}
    <fieldset>
    <legend>Names</legend>
    {{ names_form.as_p }}
    </fieldset>
    {% endif %}

    {% if general_info_form %}
   <fieldset>
   <legend>General Information</legend>
   {{ general_info_form.as_p }}
   </fieldset>
   {% endif %}

   {% if stall_type_form %}
   <fieldset>
   <legend>Stall Type</legend>
   {{ stall_type_form.as_p }}
   </fieldset>
   {% endif %}
    
   {% if trading_form %}
   <fieldset>
   <legend>Trading</legend>
   {{ trading_form.as_p }}
   </fieldset>
   {% endif %}

   {% if fairs_attended_form %}
   <fieldset>
   <legend>Fairs Attended</legend>
   {{ fairs_attended_form.as_p }}
   </fieldset>
   {% endif %}

   {% if finances_form %}
   <fieldset>
   <legend>Finances</legend>
   {{ finances_form.as_p }}
   </fieldset>
   {% endif %}

   {% if social_media_form %}
   <fieldset>
   <legend>Social Media</legend>
   {{ social_media_form.as_p }}
   </fieldset>
   {% endif %}
   

    <button type="submit" name="save">Submit here</button>
</form>

{% endblock %}
