{% extends 'main/base.html' %}

{% block content %}
<h1>Finances Records</h1>



<p>MRDF * most recent diasy fair </p>

<table border="1" class="table finance-table">
   
    <tr>
        <th>User</th>
        <th>Business Name</th>
        <th><form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="sortYeT">
                <button type="submit" class="btn  btn-light btn-sm"style="font-size: 16px; font-weight: bold;">Years Trading</button>
</form></th>
        <th><form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="sortSEarn">
                <button type="submit" class="btn  btn-light btn-sm"style="font-size: 16px; font-weight: bold;">Similar Earnings</button>
</form></th>
        <th>Price Range</th>
        <th><form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="MRDFsort">
                <button type="submit" class="btn  btn-light btn-sm" style="font-size: 16px; font-weight: bold;">MRDF Date</button>
</form></th>
        <th><form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="sortFEarn">
                <button type="submit" class="btn  btn-light btn-sm" style="font-size: 16px; font-weight: bold;">MRDF Earnings</button>
</form></th>
        <th>Actions</th>
    </tr>
    <tbody>
    {% for record in finance_records %}
    <tr  {% if record.status %}
           {% if record.status.accepted %}
             class="table-success"
           {% elif record.status.denied %}
             class="table-danger"
           {% endif %}
         {% endif %}
    >
        <td>{{ record.user_id }}</td>
        <td>{{ record.buisname}}</td>
        <td>{{ record.yearstrading }}</td>
        <td>{{ record.SimEarnings }}</td>
        <td>{{ record.pricerange }}</td>
        <td>{{ record.MRDfair|date:"Y-m-d" }}</td>
        <td>{{ record.MRDfairEarnings }}</td>  
        <td>
            <form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ record.user_id }}">
                <input type="hidden" name="action" value="acceptf">
                <button type="submit" class="btn btn-success btn-sm" >Accept</button>
            </form>
            <form action="{% url 'finances' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ record.user_id }}">
                <input type="hidden" name="action" value="denyf">
                <button type="submit" class="btn btn-danger btn-sm">Deny</button>
            </form>
        </td>
    </tr>
    </tbody>
    {% empty %}
    <tr>
        <td colspan="8">No finance records found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}