{% extends  'main/baser.html' %}


{% block content %}
    <h2 class="mb-3">This is the admins login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="member_code" class="form-label">Member code</label>
            <input type="number" name="member_code" id="member_code" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}


